body{
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:20px;
}

#pokemon-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,200px);
  gap:20px;
}

.card{
  background:#1f2937;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:120px;
}

.video{
  margin-top:20px;
}
