body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111827;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.pokemon-card {
  background: #1f2937;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
